body {
    margin: 0;
    font-family: Source Code Pro, Arial;
    font-weight: 400;
    color: #ABB2BF;
  }

  p {
    font-family: Source Code Pro, Arial;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
  }

  h1 {
    font-family: Source Code Pro, Arial;
    font-size: 70px;
    font-weight: 700;
  }

  h2 {
    font-family: Source Code Pro, Arial;
    font-size: 40px;
    font-weight: 700;
  }

  h3 {
    font-family: Source Code Pro, Arial;
    font-size: 30px;
    font-weight: 700;
  }

  .yellow {
    color: #e4db7e;
  }

  .orange {
    color: #D19A66;
  }

  .red {
    color: #E06C75;
  }

  .purple {
    color: #C678DD;
  }

  .blue {
    color: #61AFEF;
  }