body {
    background-color: #282C34;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    align-items:  center;
    justify-content: center;
}

footer {
    height: 10px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0 0;
    width: calc(80% + 50px);
    max-width: 1450px;
    justify-content: start;
    flex-direction: row;
    gap: 5px;
}

.nav-btn {
    background-color: transparent;
    color: rgb(33, 35, 41);
    padding: 10px 10px;
    font-size: 25px;
    outline-offset: -2px;
}

    .nav div {
        cursor: pointer;
    }

    .nav-btn.title {
        border: solid 2px #61AFEF;
        color: #61AFEF;
        cursor: default;
    }

    .nav-btn.home {
        background-color: #e4db7e;
    }

        .nav-btn.home:hover {
            background-color: transparent;
            color: #e4db7e;
            outline: solid 2px #e4db7e;
        }

    .nav-btn.about {
        background-color: #C678DD;
    }

        .nav-btn.about:hover {
            background-color: transparent;
            color: #C678DD;
            outline: solid 2px #C678DD;
        }

    .nav-btn.projects {
        background-color: #E06C75;
    }

        .nav-btn.projects:hover {
            background-color: transparent;
            color: #E06C75;
            outline: solid 2px #E06C75;
        }

.card {
    background-color: #212329;
    box-shadow: 0 0 25px rgba(1,1,1,0.2);
    display: flex;
    align-items: center;
    width: 80%;
    max-width: 1400px;
    padding: 25px 25px 35px 25px;

    transition: box-shadow 0.5s;
}

    .card:hover {
        box-shadow: 0 0 30px rgba(1,1,1,0.35);
    }

.profile-container {
    width: 60%;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 5px #61AFEF;
}

.profile-photo-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

.profile-photo {
    max-height: 250px;
}

.profile-text {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    flex: 3;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.profile-name {
    font-size: 70px;
    text-align: center;
    margin: 0;
    line-height: 70px;
}

.profile-job {
    font-size: 30px;
    text-align: center;
    margin: 0;
}

@media (orientation: portrait) {
    .profile-container {
        width: 80%;
    }

    .profile {
        flex-direction: column;
    }

    .profile-photo {
        display: none;
    }

    .profile-text {
        gap: 10px;
        padding: 20px;
    }

    .profile-name {
        font-size: 50px;
        line-height: 50px;
    }

    .profile-job {
        font-size: 20px;
    }

}

@media (max-width: 600px) {
    .bottom-link-container {
        flex-direction: column;
    }
}

.section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.emoji-header {
    margin: 0;
    font-size: 32px;
}

.link-container {
    display: flex;
    margin: -7px 0;
    gap: 10px;
}

.icon-link {
    color: rgb(33, 35, 41);
    background-color: rgb(171, 178, 191);
    padding: 3px 8px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    cursor: pointer;
}

    .icon-link:hover {
        opacity: 0.8;
    }

    .icon-link p {
        font-size: 14px;
    }
    
.lang-link {
    color: rgb(33, 35, 41);
    background-color: rgb(171, 178, 191);
    padding: 3px 8px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    cursor: pointer;
}

    .lang-link.lang-html{
        background-color: #e68168;
        color: rgb(207, 210, 218);
    }
    
    .lang-link.lang-css{
        background-color: #58557e;
        color: rgb(207, 210, 218);
    }
    
    .lang-link.lang-js{
        background-color: #f0e488;
    }
    
    .lang-link.lang-py{
        background-color: #6788a3;
        color: rgb(207, 210, 218);
    }
    
    .lang-link.lang-cs{
        background-color: #715799;
        color: rgb(207, 210, 218);
    }

    .lang-link p {
        font-size: 14px;
    }

.link-img {
    width: 16px;
}

.sub-header {
    font-size: 18px;
}

.sub-section {
    font-size: 15px;
    margin-left: 20px;
    color: rgb(132 142 161);
    line-height: 25px;
}

.sub-project {
    font-size: 18px;
    color: rgb(132 142 161);
}

.summary-section {
    line-height: 30px;
  }

.bottom-link-container {
    display: flex;
    gap: 10px;
}

.bottom-link {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    background-color: transparent;
    border: 1px solid rgb(75, 81, 92);
    border-radius: 5px;
    padding: 4px 10px;

    font-size: 18px;
    font-family: Source Code Pro, Arial;
    font-weight: 400;
    color: rgb(132 142 161);
}

    .bottom-link:hover {
        background-color: rgb(132 142 161);
        color: #212329;
    }